:root{
  --dt-row-selected: 44, 176, 0;
}

.pagination{
  --bs-pagination-color: #adb5bd;
  --bs-pagination-hover-color: ;
  --bs-pagination-active-border-color: ;
  --bs-pagination-focus-color: ;
}

.btn-primary{
  --bs-btn-active-bg: #adb5bd;
}

.paginate_button {
  width: fit-content;
  margin-top: 15px;
}

.active>.page-link, .page-link.active{
  background-color: rgb(44, 176, 0);
  border: 0;
}

#minhaTabela_paginate > ul > li.paginate_button.page-item.active{
  border: 1px solid rgb(44, 176, 0);
}

#edit,#delete,#add{
  color: #fff;
  background-color: rgb(44, 176, 0);
  border: 2px solid rgb(44, 176, 0);
  padding: 5px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
#edit:hover, #delete:hover, #add:hover{
  background-color: rgba(44, 176, 0, 0.733);
  border: 2px solid rgb(44, 176, 0);
}

#edicao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edicao-content {
  background: rgb(33, 101, 11);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn{
  background-color: rgba(0,0,0,0.3);
  border: none;
}

.btn:hover{
  background-color: rgba(0,0,0,0.6);
}